---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>This is where all the tags of the article.</p>
  <ul>
    {tags.map((tag) => <li style="margin: 0.25rem 0"><a class="link" href={`/tags/${tag}`}>{tag}</a></li>)}
  </ul>
</BaseLayout>
