---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import ScrollToTop from '../components/ScrollToTop.astro';

// Data Fetching: List all Markdown posts in the repo.
import * as personalInfos from '../infos/about.md';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';

const response = await fetch('https://gh-pinned-repos-tsj7ta5xfhep.deno.dev/?username=Thomasevano');
const projects = await response.json();

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<MainHead
		title="Thomas Evano"
		description="Hi, I am Thomas Evano"
	/>
	<Nav />
	<body class="light">
		<div id="top" class="app">
			<main>
				<About about={personalInfos}/>
				<Projects projects={projects}/>
				<Skills skills={personalInfos} />
			</main>
			<ScrollToTop />
		</div>
	</body>
	<Footer />
</html>
