---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import BlogPost from "../../../components/BlogPost.astro";
import { defaultLang } from "../../../i18n/ui";
import { useTranslations } from "../../../i18n/utils";

export async function getStaticPaths() {
  const allBlogPosts = await getCollection("blog", (post) => {
    return post.data.draft !== true && post.id.includes("en/");
  });

  const uniqueTags = [
    ...new Set(allBlogPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag: string) => {
    const filteredPosts = allBlogPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const t = useTranslations("en");
---

<BaseLayout pageTitle={tag}>
  <section class="posts">
    <h1 class="posts__title">{t("tags.title")}{tag}</h1>
    {
      (
        <ul class="posts__grid">
          {posts.map((post) => (
            <BlogPost url={`/en/posts/${post.id}/`} post={post} />
          ))}
        </ul>
      )
    }
  </section>
</BaseLayout>
