---
import { getRelativeLocaleUrl } from "astro:i18n";
import { languages } from "../i18n/ui";

const currentPath = Astro.url.pathname.split("/").reverse().shift();
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={getRelativeLocaleUrl(lang, currentPath)}>{label}</a>
      </li>
    ))
  }
</ul>
