---
import { getRelativeLocaleUrl } from "astro:i18n";
import { languages } from "../i18n/ui";

const pageLang = Astro.url.pathname.includes("en");
let pathIndex = 0;
if (pageLang) {
  pathIndex = 3;
}

const currentPath = Astro.url.pathname.slice(pathIndex);
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={getRelativeLocaleUrl(lang, currentPath)}>{label}</a>
      </li>
    ))
  }
</ul>
