---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ThemeToggle from "./ThemeToggle.astro";
import { Image } from "astro:assets";
import heyMemoji from "../assets/hey.webp";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { Rss } from "@lucide/astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header class="header">
  <Astronav closeOnClick>
    <div class="icons">
      <Image
        src={heyMemoji}
        style="height: 3rem;width: 3rem;margin-top: -1.25rem;"
        alt="hey waving memoji"
      />
      <MenuIcon class="menu-icon" />
    </div>
    <MenuItems class="hidden menu-items">
      <ul class="menu-items__list">
        <li>
          <a href={translatePath("/")} class="link link--nav">{t("nav.home")}</a
          >
        </li>
        <li>
          <a href={translatePath("/blog")} class="link link--nav"
            >{t("nav.blog")}</a
          >
        </li>
        <li>
          <a href={translatePath("/#about")} class="link link--nav"
            >{t("nav.about")}</a
          >
        </li>
        <li>
          <a href={translatePath("/#projects")} class="link link--nav"
            >{t("nav.projects")}</a
          >
        </li>
        <li>
          <a href={translatePath("/#skills")} class="link link--nav"
            >{t("nav.skills")}</a
          >
        </li>
      </ul>
      <a href="rss.xml" class="rss-link link link--nav"
        ><Rss alt=`${t("footer.subscribe-rss")}` /></a
      >
      <div class="theme-toggle">
        <ThemeToggle />
      </div>
    </MenuItems>
  </Astronav>
</header>

<style>
  .header {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0;
    padding: 0 1em;
  }
  .icons {
    display: flex;
    justify-content: space-between;
  }

  .menu-items__list {
    display: flex;
    flex-direction: column;
  }

  .theme-toggle {
    margin: 1rem 0;
  }
  .theme-toggle__desktop {
    display: none;
  }

  @media (min-width: 1024px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
    .menu-items__list {
      flex-direction: row;
      gap: 0.75rem;
    }
    .theme-toggle {
      height: 24px;
      margin: 0 0.75rem 0.3em;
    }
    .theme-toggle__desktop {
      display: block;
    }
  }
</style>
