<div class="scroll-top">
  <a href="#top">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
      <path fill="currentColor" d="M13 20h-2V8l-5.5 5.5l-1.42-1.42L12 4.16l7.92 7.92l-1.42 1.42L13 8v12Z"/>
    </svg>
  </a>
</div>

<script>
  const [div] = document.getElementsByClassName('scroll-top')
  const toggleVisibility = () => div.classList.toggle('is-visible', window.pageYOffset > 500)
  window.addEventListener('scroll', toggleVisibility)
</script>

<style>
.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: transparent;
  display: none;
}

.is-visible {
  display: block;
}

@media (max-width: 900px) {
  .scroll-top {
    display: none;
  }
}

</style>
