---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import { languages } from "../../i18n/ui";

export async function getStaticPaths() {
  const blogPosts = await getCollection("posts");

  return Object.keys(languages).flatMap((lang) => {
    const posts_filtered = blogPosts
      ?.filter((post) => {
        const [postLang, ...slug] = post.slug.split("/");
        return postLang === lang;
      })
      .map((post) => {
        const [postLang, ...slug] = post.slug.split("/");
        return {
          params: { lang: postLang, slug: slug.join("/") || undefined },
          props: post,
        };
      })
      .sort(
        (a, b) =>
          b.props.data.pubDate.valueOf() - a.props.data.pubDate.valueOf()
      );
    return { params: { lang }, props: { posts: posts_filtered } };
  });
}

const pageTitle = "Blog";
const pageLang = getLangFromUrl(Astro.url);
const { posts } = Astro.props;
const t = useTranslations(pageLang);
---

<BaseLayout pageTitle={pageTitle}>
  <section class="posts">
    <h1 class="posts__title">{t("blog.title")}</h1>
    <ul class="posts__grid">
      {
        posts
          ? posts.map((post) => (
              <BlogPost
                url={`/${post.params.lang}/posts/${post.params.slug}/`}
                post={post}
              />
            ))
          : t("blog.no-posts")
      }
    </ul>
  </section>
</BaseLayout>

<style>
  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .posts__title {
    margin-bottom: 2rem;
  }
  .posts__grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }

  @media only screen and (min-width: 768px) {
    .posts__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
